/*border radius*/
/*img{
    border-radius: 50%;
}*/
/*-------------------------------------------------------------*/


/*border top left radius*/
/*
img {
    border-top-left-radius: 50%;
}*/
/*-------------------------------------------------------------*/


/*border top right radius*/
/*
img {
    border-top-right-radius: 50%;
}*/
/*-------------------------------------------------------------*/


/*border bottom right radius*/
/*img {
    border-bottom-right-radius: 50%;
}*/
/*-------------------------------------------------------------*/


/*border bottom left radius*/
/*img {
    border-bottom-left-radius: 50%;
}*/
/*-------------------------------------------------------------*/


/*border top-left top-right  bottom-right  bottom-left */
/*img {
    border-radius: 5% 10% 15% 20%;
}*/
/*-------------------------------------------------------------*/


/*border (top-left bottom-right) and( top-right  bottom-left) */
/*
img{
    border-radius: 50% 20%;
}

*/

