/* Element */
/* p{
    color: aqua;
} */
/* Id */
/* #mytext{
    color: blue;
} */

/* Class */
/* .myclass{
    color: green;
} */
/* 
p.myclass{
    background-color: brown;
} */

/* All Elements */
/*  *{
    background-color: rgb(0, 0, 0);
} */

/* Grouping */
/*  p, h1, h2{
    font-family: "JetBrains Mono", sans-serif;
} */

/* element element */
/* .mysection .content-1{
    color: red; 
} */

/* .mysection div{
    background-color: cadetblue;
} */

/* element > element */

/* .mysection > div{
    background-color: lightgreen;
} */
/* element1 + element2 */
/* h1 + h2 {
  color: yellow;
}
 */
/* element1 ~ element2 */
h1 ~ h2 {
  color: yellow;
}