body{
    display: flex;
    justify-content: center;
    background-color: black;
}
div{
    margin-top: 10%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.colorText{
    color: crimson;
}

