/*margin*/
/*p{
    font-size:25px;
    border: 1px solid red;
    margin: 40px;
}*/
/*---------------------------------------------------------*/


/*margin left*/
/*p{
    font-size:25px;
    border: 1px solid red;
    margin-left: 20px;
}*/
/*---------------------------------------------------------*/


/*margin right*/
/*p {
    font-size: 25px;
    border: 1px solid red;
    margin-right: 80px;
}*/
/*---------------------------------------------------------*/



/*margin top*/
/*p{
    font-size:25px;
    border: 1px solid red;
    margin-top: 60px;
}*/
/*---------------------------------------------------------*/


/*margin bottom*/
/*p {
    font-size: 25px;
    border: 1px solid red;
    margin-bottom: 40px;
}*/
/*---------------------------------------------------------*/


/*margin*/
/*
p{
    font-size: 25px;
    border: 1px solid red;
    margin: 20px 40px 60px 80px; !*top right bottom left*!
}*/
/*---------------------------------------------------------*/


/*margin*/

/* p{
    font-size: 25px;
    border: 1px solid red;
    margin: 100px 200px; !* top  bottom right left *!
} */

/* --------------------------------------------------------- */

/* margin auto */
div{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 8, 0);
    margin:  auto; /* center align the div */
}